.nav {
	gria-area: n;
	background: green;
	padding: 20px;
}

.item a {
	color: white;
	text-decoration: none;
}

.item a.activeLink {
	color: goldenrod;
}

.links {
	margin-bottom: 50px;
}

.sidebar {
}

.sidebar a {
	display: inline-block;
	margin-bottom: 15px;
}