a {
	color: white;
	text-decoration: none;
}

.nav {
	gria-area: n;
	background: green;
	padding: 20px;
}

.item {
	font-size: 20px;
}

.item a.activeLink {
	color: goldenrod;
}

.links {
	margin-bottom: 25px;
}

.sidebar {
}

.sidebar .item {
	display: inline-block;
	margin-bottom: 15px;
}

